{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'partials/_alerts.html' %}
{% load remove_trailing_zeros %}
      <div class="row">
        {% for sh in shops_info %}
            
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
               
                <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
             
                <i class="material-icons opacity-10">weekend</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize"> (24) kart </p>
                {% if sh.weight_gold != 0 %}
                <h4 class="mb-0"><a href="{% url 'main_number_details' shop_id=sh.shop.pk %}">{{sh.weight_gold|remove_trailing_zeros}} {{sh.unit}}</a>
                    {% else %}
                    <h4 class="mb-0"><a href="#">{{sh.weight_gold}} {{sh.unit}}</a>
                {% endif %}
                  <p class="text-sm mb-0 text-capitalize"></p>
                </h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                <!-- number of pieces -->
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder"></span> {{sh.shop.name}} {{sh.shop.address}} ({{sh.gold_number}})</p>
            </div>
          </div>
        </div>
        <br>
    

        
        {% empty %}
            No Gold>>>>
        {% endfor %}
        
    

      </div> 

     


      
      
{% endblock %}

